<?xml version="1.0"?>
<!--
/**
 * Copyright © MatheusSiqueiraDev, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <preference 
        for="MatheusSiqueiraDev\AccountCreationOnCheckout\Api\GuestCustomerInformationInterface" 
        type="MatheusSiqueiraDev\AccountCreationOnCheckout\Model\GuestCustomerInformation" />
</config>